!!!
%html
  %head
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans', :rel=>'stylesheet', :type=>'text/css'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title M5
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :stylesheets
  %body
    #header_container
      #nav
        #logo_container
          .logo_small
          .right_round
          .bottom_round
      %ul.nav_items
        %li.selected_item.nav_item
          .text_container
            ABOUT
        %li.nav_item
          .text_container
            COMMERCIAL
        %li.nav_item
          .text_container
            RESIDENTIAL
        %li.nav_item
          .text_container
            RENTAL
        %li.nav_item
          .text_container
            FINANCE
        %li.nav_item
          .text_container
            OUR GROUP

    -if notice == nil
      %p.notice
        = notice
    -if alert != ""
      %p.alert
        = alert
    = yield
