!!!
%html
  %head
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans', :rel=>'stylesheet', :type=>'text/css'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title M5
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :stylesheets
  %body
    #header_container
      #nav
        #logo_container
          .logo_small
          .right_round
          .bottom_round
      .bottom_black
      .bottom_gray
        .nav_items
          .nav_item.selected
            selected
          .nav_item
            normal
          .nav_item
            normal
          .nav_item
            normal
          .nav_item
            normal
            normal
          .nav_item
            normal

    -if notice == nil
      %p.notice
        = notice
    -if alert != ""
      %p.alert
        = alert
    = yield
